<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="amazon_Project1.Project1_Amazon.TestCase9_AddtoCart"/>
      <class name="amazon_Project1.Project1_Amazon.TestCase15_cartpagewithoutlogin"/>
      <class name="amazon_Project1.Project1_Amazon.TestCase2_validcredentials"/>
      <class name="amazon_Project1.Project1_Amazon.TestCase4_ManageProfile"/>
      <class name="amazon_Project1.Project1_Amazon.TestCase8_SortProduct"/>
      <class name="amazon_Project1.Project1_Amazon.TestCase3_Invalicredentials"/>
      <class name="amazon_Project1.Project1_Amazon.TestCase6_searchwithfilters"/>
      <class name="amazon_Project1.Project1_Amazon.TestCase14_ratings"/>
      <class name="amazon_Project1.Project1_Amazon.TestCase5_Searchproduct"/>
      <class name="amazon_Project1.Project1_Amazon.TestCase12_Payment"/>
       <class name="amazon_Project1.Project1_Amazon.TestCase10_Updatingproductandremove"/>
      <class name="amazon_Project1.Project1_Amazon.TestCase11_CheckoutProcess"/>
      <class name="amazon_Project1.Project1_Amazon.TestCase7_Verifythedetails"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
